<div fxLayout="column" fxLayoutGap="10px">
  <h1 routerLink="/dashboard">{{title}}</h1>
  <div fxLayout="row" fxLayoutGap="10px">
    <span>Użytkownik:</span>
    <mat-select fxFlex="80px" [formControl]="currentUserControl">
      <mat-option *ngFor="let user of userService.users.getValue()" [value]="user.id">
        {{user.name}}
      </mat-option>
    </mat-select>
  </div>
  <nav fxLayout="row" fxLayoutGap="10px">
    <a routerLink="/refuelling">Nowe tankowanie</a>
    <a routerLink="/ride">Nowy przejazd</a>
    <a routerLink="/history">Moja historia</a>
    <a routerLink="/admin">Ustawienia</a>
  </nav>
</div>
<router-outlet></router-outlet>
