<h2>Nowe tankowanie</h2>
<form [formGroup]="form">
  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px" class="form-refuelling">
    <mat-form-field>
      <mat-label>Kwota</mat-label>
      <input matInput [formControlName]="'price'">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Typ paliwa</mat-label>
      <mat-select [formControlName]="'fuelType'">
        <mat-option *ngFor="let fuelType of fuelTypes" [value]="fuelType">{{fuelTypeNames[fuelType]}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Samochód</mat-label>
      <mat-select [formControlName]="'carId'">
        <mat-option *ngFor="let car of activeCars" [value]="car.id">
          {{car.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
<button mat-button color="primary" (click)="addRefuelling()">Dodaj</button>
