<div fxLayout="row">
  <div fxFlex>
    <p>Użytkownicy</p>
    <div fxLayout="row" fxLayoutGap="10px" *ngFor="let user of userService.users.getValue()">
      <p>{{user.name}}</p>
      <button (click)="handleDeleteUserClicked(user)">Usuń</button>
    </div>
    <p>Nowy użytkownik</p>
    <mat-form-field>
      <mat-label>Imię</mat-label>
      <input matInput [formControl]="userNameControl">
    </mat-form-field>
    <button (click)="addUser(userNameControl.value)">Dodaj</button>
  </div>
  <div fxFlex>
    <p>Samochody</p>
    <div fxLayout="row" fxLayoutGap="10px" *ngFor="let car of activeCars">
      <p>{{car.name}}</p>
      <button (click)="handleDeleteCarClicked(car)">Usuń</button>
    </div>
    <p>Nowy samochód</p>
    <mat-form-field>
      <mat-label>Nazwa</mat-label>
      <input matInput [formControl]="carNameControl">
    </mat-form-field>
    <button (click)="addCar(carNameControl.value)">Dodaj</button>
  </div>
</div>
<button (click)="handleResetHistoryClicked()">Zresetuj historię</button>
