<ng-container *ngIf="balance">
  <h2>Bilans: {{balance.totalBalance | number: '.2-2'}} zł</h2>

  <mat-accordion>
    <mat-expansion-panel *ngFor="let carBalance of balance.carBalances">
      <mat-expansion-panel-header fxLayout="row">
          <mat-panel-title fxFlex="50%">
            {{getCarName(carBalance.carId)}}
          </mat-panel-title>
          <mat-panel-description fxFlex="50%">
            {{(carBalance.tankedFuelCost - carBalance.spentFuelCost) | number: '.2-2'}} zł
          </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxLayout="row">
        <div fxFlex fxLayout="column">
          <div fxFlex>Koszt tankowań</div>
          <div fxFlex>Koszt przejazdów</div>
          <div fxFlex>Dystans</div>
          <div fxFlex>Efektywny dystans</div>
          <div fxFlex>Koszt auta / 100 km</div>
        </div>
        <div fxFlex fxLayout="column">
          <div fxFlex>{{carBalance.tankedFuelCost | number: '.2-2'}} zł</div>
          <div fxFlex>{{carBalance.spentFuelCost | number: '.2-2'}} zł</div>
          <div fxFlex>{{carBalance.drivenDistance}} km</div>
          <div fxFlex>{{carBalance.effectiveDrivenDistance | number: '.0-0'}} km</div>
          <div fxFlex>{{100 * carBalance.carKilometerCost | number: '.2-2'}} zł</div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
